<!DOCTYPE html> 
<html lang="cs">    
    <head> 
        <title>Admin Panel │ Maisner</title>
        <link rel="stylesheet" href="/static//style.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        <link rel="icon" href="/static//images/icon.png">   
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <meta charset="UTF-8"> 
        <style>
            @font-face {
                font-family: "inter-bold";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Bold.woff2') }}");
            }

            @font-face {
                font-family: "inter-light";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Light.woff2') }}");
            }
        </style>
    </head> 
    <body>
        <div class="center">
            <h1 class="custom-gradient webname interbold">Linkly</h1>
        </div>

        <img src="/static//images/icon.png" style="width: 70px; position: absolute; top: 5px; left: 5px;">

        <div class="tableContainer center">
            <table style="max-width: 50%; min-width: 10%;" id="myTable" class="nowrap">
                <tr class="interbold" style="color: white;">
                    <th>Short link</th>
                    <th>Original Link</th>
                    <th>Qr Code</th>
                    <th>Clicks</th>
                    <th>Date</th>
                </tr>
            </table>
        </div>

        <script src="/static//adminpanel.js"></script>
    </body>
</html>