<!DOCTYPE html> 
<html lang="cs">    
    <head> 
        <title>URL Shortener │ Maisner</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">   
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <meta charset="UTF-8"> 
        <style>
            @font-face {
                font-family: "inter-bold";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Bold.woff2') }}");
            }

            @font-face {
                font-family: "inter-light";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Light.woff2') }}");
            }
        </style>
    </head> 
    <body>
        <div class="center">
            <h1 class="custom-gradient webname interbold">Linkly</h1>
        </div>

        <img src="{{ url_for('static', filename='/images/icon.png') }}" style="width: 70px; position: absolute; top: 5px; left: 5px;">
            
        <div class="center">
            <p class="custom-gradient subname interbold">Shorten Your looooong links :)</p>
        </div>

        <div class="center interlight descdiv">
            <p class="center desc">Linkly is an efficient and easy-to-use URL shortening service that streamlines your online experience.</p>
        </div><br><br><br><br><br>

        <div class="center linkinputdiv">
            <form id="urlForm" class="linkinputform">
                <img class="linkicon" src="{{ url_for('static', filename='/images/link.png') }}" width="40px" height="40px">
                <input class="linkinput interlight" id="urlInput" type="text" placeholder="Enter the link here" name="urlInput" required>
                <button type="submit" class="shortenbutton interbold">Shorten Now!</button>
            </form>
        </div>

        <div class="center output interbold">
            <p id="shortenedUrl" style="color: white;">Here is where your output will appear:</p>
            <a id="utilid0" href="#" id="openqr"><img alt="QR Code" id="qrCodeImage" src="/static//images/default_qr.png"></a>
            <div class="utils" id="utilsid" style="display: none;">
                <a id="utilid1" href="#" onclick="copyUrl('')"><img src="{{ url_for('static', filename='/images/copy.png') }}" alt="Copy to clipboard"></a>
                <a id="utilid2" href="{{ url_for('static', filename='/images/default_qr.png') }}" download><img src="{{ url_for('static', filename='/images/download.png') }}" alt="Download QR code"></a>
            </div> 
            <div style="display: none" id="spinner"><img style="background-color: white;" src="{{ url_for('static', filename='/images/empty.png') }}" class="spinner" alt="spinner"></div>          
        </div>

        <div class="center showcasediv">
            <p class="showcase interlight"><span class="header">Quick and efficient URL shortener!<br></span>ShortURL lets you condense lengthy links from <a href="https://www.instagram.com/">Instagram</a>, <a href="https://www/facebook.com/">Facebook</a>, <a href="https://www.youtube.com/">YouTube</a>, <a href="https://www.x.com">X</a>, <a href="https://linkedin.com/">LinkedIn</a>, <a href="https://www.whatsapp.com">WhatsApp</a>, <a href="https://www.tiktok.com">TikTok</a>, blogs, and websites. Simply paste your long URL, click the "Shorten URL" button, and get a compact link. Copy the shortened URL and share it across websites, chats, and emails. Track the number of clicks your link receives after shortening</p>
            <div class="showcasedivimgs">
                <img src="{{ url_for('static', filename='images/icons/like.png') }}" width="70px">
                <img src="{{ url_for('static', filename='images/icons/chain.png') }}" width="70px">
                <img src="{{ url_for('static', filename='images/icons/shield.png') }}" width="70px">
                <img src="{{ url_for('static', filename='images/icons/hand.png') }}" width="70px">
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}  "></script>
    </body>
</html>
