<!DOCTYPE html> 
<html lang="cs">    
    <head> 
        <title>URL Shortener │ Maisner</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/statsstyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/icon.webp') }}">   
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <meta charset="UTF-8"> 
        <style>
            @font-face {
                font-family: "inter-bold";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Bold.woff2') }}");
            }

            @font-face {
                font-family: "inter-light";
                src: url("{{ url_for('static', filename='inter/Inter_18pt-Light.woff2') }}");
            }
        </style>
    </head> 
    <body>
        <div class="user">
            <a class="login" href="register" id="Login" style="display: none;">
                <img src="{{ url_for('static', filename='images/login.webp') }}" class="loginImg" alt="Login Icon" width="35px" height="35px">
                <p class="loginChild interbold">Register</p>
            </a>
            <a href="#cau" id="Loggedin" style="display: none;">
                <img src="{{ url_for('static', filename='images/default_pfp.webp') }}" style="border-radius: 50%;" alt="User Icon" width="85px" height="85px">
            </a>
        </div>

        <div class="center">
            <h1 class="custom-gradient webname interbold">Linkly</h1>
        </div>

        <img src="{{ url_for('static', filename='images/icon.webp') }}" alt="Icon" style="width: 90px; position: absolute; top: 28px; left: 28px;">
            
        <div class="center">
            <p class="custom-gradient subname interbold">Enter your shortened url:</p>
        </div>

        <div class="center linkinputdiv">
            <form id="urlForm" class="linkinputform">
                <img class="linkicon" src="{{ url_for('static', filename='/images/link.webp') }}" width="40px" height="40px">
                <input class="linkinput interlight" id="urlInput" type="text" placeholder="Enter the link here" name="urlInput" required>
                <button type="submit" class="shortenbutton interbold">See the stats!</button>
            </form>
        </div>

        <div class="center">
            <div class="stats">
                <div class="statsmain">
                    <span id="statheader" class="statsheader" style="text-align: start;">/</span>
                    <img id="statimg" class="statsimg" src="{{ url_for('static', filename='/images/default_qr.webp') }}" alt="default_qr">
                </div>
                <div class="statstext">
                    <p id="statshort" class="statsp">Short URL:</p>
                    <p id="statlong" class="statsp">Long URL:</p>
                    <p id="statclicks" class="statsp">Clicks:</p>
                    <p id="statdate" class="statsp">Date:</p>
                </div>
            </div>
        </div>

        <div class="home">
            <a href="{{ url_for('index') }}" class="custom-gradient interbold">⟨ HOME</a>
        </div>

        <div id="popup" class="popup" style="display: none;">
            <div class="popupContent">
                <p id="popup-message" class="popupMessage interlight">This is a popup message</p>
                <button onclick="hidePopup()" class="popupClose interbold"> OK </button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/stats.js') }}  "></script>
    </body>
</html>
